body {
    margin-top: 20px;
    background: #eee;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box.box-primary {
    border-top-color: #3c8dbc;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.direct-chat .box-body {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    overflow-x: hidden;
    padding: 0;
}

.direct-chat-messages {
    padding: 10px;
    height: 150px;
    overflow: auto;
}


/* for meaage box */
.right .direct-chat-msg {
    text-align: right;
}

.left .direct-chat-msg {
    text-align: left;
}

.direct-chat-name {
    font-weight: bold;
    font-size: 1.1em;
    /* Adjust as needed */
}

.direct-chat-text {
    font-size: 1em;
    /* Adjust as needed */
}